<a href="https://colab.research.google.com/github/KristinaIgorevna/Phyton-analyst-/blob/main/Sem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Задача 1
###На складе лежат разные фрукты в разном количестве.
###Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fruit_basket(**kwargs):
    {print(f"Фрукт {name} в количестве {values} шт")
     for name, values in kwargs.items()}
    return print(f'Общее количество фрутов: {sum(kwargs.values())}')

In [6]:
fruit_basket(
    banana = 34,
    mango = 10,
    apple = 2
)

Фрукт banana в количестве 34 шт
Фрукт mango в количестве 10 шт
Фрукт apple в количестве 2 шт
Общее количество фрутов: 46

### Задание 2
### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

In [7]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]

total_cost = sum([i for i in costs if i >= 0])
total_cost

1425

##Задача 3
##Даны два списка, Дата покупки, Суммы покупок по датам
###3.1 Найдите, какая выручка у компании в ноябре
###3.2 Найдите выручку компании в зависимости от месяца
### Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

In [18]:
##3.1 Найдите, какая выручка у компании в ноябре
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
pay_sum = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [20]:

month_november = sum([pay_sum[i] for i in range(len(dates)) if dates[i][5:7] == '11'])
month_november

25098

In [23]:
##3.2 Найдите выручку компании в зависимости от месяца
def get_months_revenue(dates: list, revenues:list) -> dict:
    months_set = set(map(lambda x: x[5:7], dates))
    month_revenue_temp = {key:list() for key in months_set}
    for i in month_revenue_temp.keys():
        for j in range(len(dates)):
            if dates[j][5:7] == i:
                month_revenue_temp[i].append(revenues[j])
    month_revenue_final = {key:sum(value) for key, value in month_revenue_temp.items()}
    return month_revenue_final

get_months_revenue(dates, pay_sum)

{'10': 28645, '12': 45452, '11': 25098, '09': 25647}